{% extends 'base.html' %}
{% block title %}
    Home-KerjApa   
{% endblock %}


{% block content %}
<center>
    <br>
    <img src=' https://drive.google.com/uc?export=view&id=1FkAFF7uBEWbH8K-KX7EIYQRVMi3c5r4c' alt="kerjapa" width="200" 
    height="auto" />
    <br>
    <br>
    <h2> Halo, Selamat Berkunjung! </h2>
    <br>
    <h4>Saatnya mengetahui bidang kerja yang sesuai</h4>
    <h4>Tentunya berdasar pada preferensi dan perkembangan Anda</h4>
    <br> 
    <h7>Silahkan klik menu 'matching' disamping kiri atas, sebagai langkah pertama yang berarti</h7>

</center> 

{% endblock %}